

<br>
<div style="text-align:center;padding-left:0%  ">
    <div>
  <p>Marca: <input #busca type = 'text' (keyUp.enter) = "searchCar(busca.value)"></p>
</div>
</div>
<br>

<div style="text-align:center">
    <div>
    <h1>Cars</h1>
    </div>
    </div>  
    
    
     <div style="text-align:center;padding-left:43%  ">
        <!--div-->
    <table style="align:left">
      <thead> 
        <td> Filme </td>
        <td> Ano </td>
        <br>
      </thead>
      <tbody>
        <tr *ngFor="let movie of array2">
          <td>
           {{movie.Year}}
         </td>
         <td>{{movie.Title}}</td>
        </tr>
    </tbody>
    </table>
    <!--/div-->
    </div>  
      