
<div style="text-align:center;padding-left:34%">
    <input  class="form-control" #busca type = 'text' (keyDown.enter) = "service.resetIndex()" (keyUp.enter) = "searchCar(busca.value)" style="width: 50%;" placeholder="Informe um titulo">
</div>
<br>

<div style="text-align:center">
  <div>
    <h1>Movies</h1>
  </div>
</div>  

<table class="table table-hover" style="table-layout: fixed">
    <thead *ngIf="showPageNav()">
        <td style="padding-left:28%">
            <button class="btn btn-primary" #previous (click) = "prevPage()" *ngIf="showPrevButton()">Prev Page</button>
        </td>
        <td style="padding-left:16%"> 
            {{service.pageIndex}}/{{numResults}}
        </td>
        <td  style="padding-left:1.5%">
            <button class="btn btn-primary" #next (click) = "nextPage()" *ngIf="showNextButton()">Next Page</button>
        </td>
    </thead>  
  
    <thead>
        <tr>
          <th scope="col">Filme</th>
          <th scope="col" style="padding-left:16%">Ano</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody *ngFor="let movie of array2">
        <tr>
          <td>{{movie.Title}}</td>
          <td style="padding-left:0.5%; text-align: center">
            {{movie.Year}}
          </td>
          <td style="padding-left:26%">
              <button class="btn btn-outline-info" >More Info</button>
            </td>
        </tr>
      </tbody>
    </table>
